
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank"
             href="{% url 'opticalSpares:store' %}" class="nav-link">
NXT LEVEL TECHDASHBOARD          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank"
                  href="https://www.3rdaxis.co.za/">3rd Axis</a>
         - coded by <a target="_blank" href="https://www.mufudzichristopher.com/">MufudziChristopher</a>.
      </div>
    </div>
  </footer>
